/* ---- */
/* hero */
/* ---- */

#forgot-password-hero {
    margin-top: 6.25rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------ */
/* Header */
/* ------ */

#forgot-password-header {
    height: 13rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

#forgot-password-header-title {
    font-family: "Playfair Display", sans-serif;
    font-size: 35px;
    font-weight: bold;
}

#forgot-password-header-desc {
    font-size: 15px;
    opacity: 0.7;
}

/* ---------------- */
/* Container Layout */
/* ---------------- */

#forgot-password-container {
    height: 19rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 0.5rem;
    gap: 2rem;
}

#forgot-password-input-frame {
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 1rem;
}

#forgot-password-input-frame span {
    width: 100%;

    font-size: 13px;
    opacity: 0.7;
}

#forgot-password-input-frame input {
    width: 100%;

    font-size: 17px;
    outline: none;
    border: 1px solid #ccc;

    padding: 0.6rem;
}

#forgot-password-input-frame input:hover {
    border: 1px solid #ccc;
}

#forgot-password-input-frame input:focus {
    box-shadow: 0 0 10px #c4c4c45e;
}

#forgot-password-button-frame {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#forgot-password-button-frame button {
    height: 100%;
    width: 25%;

    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
    border: none;
    outline: none;

    color: white;
    background: #10223df1;
    border: 1px solid #000;

    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out, background 0.2s ease-in-out;
}

#forgot-password-button-frame button:hover {
    transform: scale(1.001);
    color: #000;
    background: #F0F0F0;
}

#forgot-password-container a {
    height: 100%;
    width: 100%;

    text-align: center;
    font-size: 15px;
    font-weight: 800;
    color: #101736;

    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 6px;

    transition: text-decoration-color 0.25s ease-in-out;
}

#forgot-password-container a:hover {
    text-decoration-color: currentColor;
}