/* ---- */
/* hero */
/* ---- */

#reset-password-hero {
    margin-top: 6.25rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------ */
/* Header */
/* ------ */

#reset-password-header {
    height: 13rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

#reset-password-header-title {
    font-family: "Playfair Display", sans-serif;
    font-size: 35px;
    font-weight: bold;
}

#reset-password-header-desc {
    font-size: 15px;
    text-align: center;
    opacity: 0.7;
}

/* ---------------- */
/* Container Layout */
/* ---------------- */


#reset-password-container {
    height: 20rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 2rem;
}

.reset-password-input-frame {
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 0.5rem;
}

.reset-password-input-frame span {
    width: 100%;

    font-size: 13px;
    opacity: 0.7;
}

.reset-password-input-frame input {
    width: 100%;

    font-size: 17px;
    outline: none;
    border: 1px solid #ccc;

    padding: 0.6rem;
}

.reset-password-input-frame input:hover {
    border: 1px solid #ccc;
}

.reset-password-input-frame input:focus {
    box-shadow: 0 0 10px #c4c4c45e;
}

#captcha-container {
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#reset-password-button {
    height: 100%;
    width: 25%;

    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
    border: none;
    outline: none;

    color: white;
    background: #10223df1;
    border: 1px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out, background 0.2s ease-in-out;
}

#reset-password-button:hover {
    transform: scale(1.001);
    color: #000;
    background: #F0F0F0;
}