MONGO_URI=[MONGO_URI_HERE]
REDIS_URL=[REDIS_URL_HERE]

FRIENDLY_CAPTCHA_SECRET=[FRIENDLY_CAPTCHA_SECRET_HERE]
FRIENDLY_CAPTCHA_SITE_KEY=[FRIENDLY_CAPTCHA_SITE_KEY_HERE]

JWT_ACCESS_TOKEN_SECRET=[JWT_ACCESS_TOKEN_SECRET_HERE]
JWT_REFRESH_TOKEN_SECRET=[JWT_REFRESH_TOKEN_SECRET_HERE]

RESEND_API_KEY=[RESEND_API_KEY_HERE]

NODE_ENV=["development" or "production"]
PORT=[BACKEND_PORT_HERE]
FRONTEND_URL=[FRONTEND_URL_HERE]
